/*=========================================================

****************** TABLE OF CONTENTS: *********************

===========================================================
# Normalize
# Typography
# Elements
# Forms
# Navigation
## Links
## Menus
# Accessibility
# Alignments
# Clearings
# Clearings
# Widgets
# Content
## Posts and pages
## Asides
## Comments
# Infinite scroll
# Media
## Captions
## Galleries


==========================================================*/

/*===========================================================
# Normalize
===========================================================*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--body-font);
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.456;
    color: var(--title-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
    color: var(--blue);
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: var(--title-color);
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

.clear-fix {
    clear: both;
}

figure {
    margin: 0px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-weight: 300;
    font-weight: normal;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

button {
    overflow: visible;
    border: none;
    background: transparent;
    outline: none;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
    border-radius: 0;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

td,
th {
    padding: 0;
}

/*===========================================================
    # Typography
    ===========================================================*/

button,
input,
select,
textarea {
    color: #737272;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--body-font);
    font-weight: var(--font-bold);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 15px 0;
}

p {
    color: var(--blue);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 14px;
}

p {
    color: var(--title-color);
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*===========================================================
    **************************Elements *************************
    ===========================================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    max-width: 100%;
}

table {
    margin: 0 0 0em;
}

td,
th {
    padding: 5px;
}

/* ==========================
    ##Button
    =========================== */

/*===========================================================
    #textarea design
    ===========================================================*/

textarea {
    resize: none;
    border: 1px solid #bbb;
    padding: 10px;

    background: #fff;
    color: var(--primary-color);

}

/*===========================================================
    #Input design
    ===========================================================*/

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"] {

    padding: 9px 10px;
    background-color: #fff;
    color: var(--black);
    border: 1px solid var(--input-border-color);
    font-size: 16px;
    border-radius: 4px;

    @include bp(bm) {
        font-size: 14px;
    }

    &:focus {
        background-color: #fff;
        outline: none;
        box-shadow: none;
    }
}

// input[type="text"]::placeholder,
// input[type="number"]::placeholder,
// input[type="email"]::placeholder {
//     color: var(--title-color);
//     font-size: 16px;

//     @include bp(bm) {
//         font-size: 14px;
//     }
// }

textarea {
    padding: 9px 10px;
    background-color: #fff;
    color: var(--title-color);
    border: 1px solid var(--input-border-color);
    font-size: 16px;
    // border-radius: 14px;

    @include bp(bm) {
        font-size: 14px;
    }

    &:focus {
        border-color: var(--primary-color);
        outline: none;
        box-shadow: none;
    }
}

div.row {
    margin: 0 -15px;

    >* {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
